@page "/views/show/{ViewId:int}"

@using Microsoft.AspNetCore.SignalR.Client
@using Newtonsoft.Json
@using FrontEnd.Pages.Views.Elements

@inject NavigationManager NavigationManager
@inject OrganizationContext organizationsContext
@inject ViewContext viewContext

@implements IAsyncDisposable

<div class="center-text">
    Last Update @m_lastUpdate.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="center-border">
                @foreach (ViewRow row in m_view.Rows)
                {
                    <div class="row">
                        @foreach (ViewElement element in row.Elements)
                        {
                            <div class="col" style="margin:0 auto">
                                @switch (element.ViewType)
                                {
                                    case ViewType.Text:
                                        {
                                            <TextViewElement View=@element />
                                            break;
                                        }
                                    case ViewType.Signal:
                                        {
                                            <SignalViewElement View=@element />
                                            break;
                                        }
                                    case ViewType.Gauge:
                                        {
                                            <GaugeViewElement View=@element />
                                            break;
                                        }
                                    case ViewType.LineChart:
                                        {
                                            <LineChartViewElement View=@element />
                                            break;
                                        }
                                    default:
                                        break;
                                }
                            </div>
                        }
                    </div>
                    <hr class="container-line side-margin">
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int ViewId { get; set; }

    private HubConnection m_hubConnection;
    private DatasetReader m_reader;
    private View m_view;
    private DataSet m_currentSet;
    private DateTime m_lastUpdate = DateTime.Now;
    private List<DataFrame> m_initialData = new List<DataFrame>();

    public async ValueTask DisposeAsync()
    {
        await m_hubConnection.SendAsync("LeaveGroup", ViewId.ToString());
        if (m_hubConnection is not null)
            await m_hubConnection.DisposeAsync();
        m_reader = null;
        DatasetReader.EndSession(ViewId);
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        ViewObject view = viewContext.Views.Where(x => x.Id == ViewId).First();
        m_view = JsonConvert.DeserializeObject<View>(view.ViewJson);
        Organization org = organizationsContext.Organizations.Where(x => x.OrganizationId == view.OrganizationId).First();
        m_reader = DatasetReader.StartSession(ViewId, org);

        m_hubConnection = new HubConnectionBuilder()
        .WithUrl("http://localhost:5000/viewhub")
        .Build();

        m_hubConnection.On<string>("ReceiveData", UpdateView);
        await m_hubConnection.StartAsync();
        await m_hubConnection.SendAsync("JoinGroup", ViewId.ToString());

        if (m_reader.LastFrame != null)
        {
            m_currentSet = JsonConvert.DeserializeObject<DataSet>(m_reader.LastFrame.Dataset);
            m_lastUpdate = m_reader.LastFrame.Timestamp;
            UpdateView();
        }

        foreach (ViewRow row in m_view.Rows)
        {
            foreach (ViewElement element in row.Elements.Where(x => x.ViewType == ViewType.LineChart))
                element.SetInitialData(m_reader.GetLastValues(element.RegisterType, element.RegisterAddress));
        }
    }

    private void UpdateView(string message)
    {
        m_currentSet = JsonConvert.DeserializeObject<DataSet>(message);
        m_lastUpdate = m_reader.LastFrame.Timestamp;
        UpdateView();
        StateHasChanged();
    }

    private void UpdateView()
    {
        foreach (ViewRow row in m_view.Rows)
        {
            foreach (ViewElement element in row.Elements)
            {
                if (m_currentSet.Contains(element.RegisterAddress, element.RegisterType))
                    element.SetValue(m_currentSet.GetValue(element.RegisterAddress, element.RegisterType));
            }
        }
    }
}