<div>
    <div class="form-group">
        <EditForm Model=this>
            <label>Register type</label>
            <InputSelect @bind-Value=m_registerType class="form-control">
                <option value=@RegisterType.CoilRegister>Coil register</option>
                <option value=@RegisterType.DiscreteInput>Discrete input</option>
                <option value=@RegisterType.InputRegister>Input register</option>
                <option value=@RegisterType.HoldingRegister>Holding register</option>
            </InputSelect>
            <label>Register number</label>
            <InputNumber @bind-Value=m_registerNumber class="form-control" min=0 max=65535 step=1></InputNumber>
            <label>Client ID</label>
            <InputNumber @bind-Value=m_clientId class="form-control" min=1 max=99 step=1></InputNumber>
        </EditForm>
    </div>

    <div>
        <button class="btn btn-danger" @onclick="() => Cancel()">Cancel</button>
        <button class="btn btn-primary" @onclick="() => SaveAndClose()">Save</button>
    </div>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public ViewElement Element { get; set; }

    private RegisterType m_registerType;
    private int m_registerNumber;
    private int m_clientId;

    protected override void OnInitialized()
    {
        m_registerType = Element.RegisterType;
        m_registerNumber = Element.RegisterAddress;
        m_clientId = Element.ClientId;
    }

    async Task SaveAndClose()
    {
        Element.SetRegisterType(m_registerType);
        if (m_registerNumber >= 0 && m_registerNumber < 65535)
            Element.SetRegisterAddress(m_registerNumber);
        if(m_clientId >=1 && m_clientId < 99)
            Element.SetClientId(m_clientId);
        await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    }

    async Task Cancel() => await BlazoredModal.CancelAsync();
}