@page "/Account/Organizations"
@using FrontEnd.Areas.Organizations.Data;
@inject OrganizationContext organizationContext;
@inject AuthenticationStateProvider authState;
<h3>Twoje organizacje</h3>

@if (m_organizations is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var org in m_organizations)
            {
                <tr>
                    <th scope="row">@org.OrganizationId</th>
                    <td>@org.Name</td>
                    <td><a href=@String.Concat("/organizations/manage/",@org.OrganizationId)>Manage</a> </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Organization> m_organizations;

    protected override async Task OnInitializedAsync()
    {
        var user = (await authState.GetAuthenticationStateAsync()).User;
        List<int> m_idList = organizationContext.Members
        .Where(x => x.UserName == user.Identity.Name.Normalize())
        .Select(x => x.OrganizationId).ToList();
        m_organizations = organizationContext.Organizations
        .Where(x => m_idList.Contains(x.OrganizationId)).ToList();
    }
}


Chcesz założyć własną organizacje? <a class="btn btn-link" href="/organizations/create">Kliknij tutaj!</a>