@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity

@using Microsoft.AspNetCore.Components.Authorization

@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Welcome to the Light Scada Website!</h1>
Auth state: