@page "/register/{error:int?}"
@using FrontEnd.Access.Authentication
@using FrontEnd.DataModels
@using FrontEnd.Access
@inject NavigationManager NavManager

<div class="container" style="max-width:500px">
    <div class="text-center font-weight-bolder" style="font-size:32px">Rejestracja</div>

    <div class="border" style="padding:20px">
        @if (Error != 0)
        {
            <div class="alert alert-danger" role="alert">
                Placeholder error message!
            </div>
        }
        <EditForm Model="@userRegistration" OnValidSubmit="@Submit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="email"><b>Nazwa użytkownika</b></label>
                <InputText id="username" @bind-Value="userRegistration.Username" class="form-control" required
                    placeholder="Nazwa użytkownika..." />
            </div>
            <div class="form-group">
                <label for="email"><b>Adres e-mail</b></label>
                <InputText id="email" @bind-Value="userRegistration.Email" class="form-control" required
                    placeholder="Adres e-mail..." />
            </div>
            <div class="form-group">
                <label for="email"><b>Hasło</b></label>

                <InputText type="password" id="pw" @bind-Value="userRegistration.Password" class="form-control" required
                    placeholder="Hasło..." />
            </div>
            <div class="form-group">
                <label for="email"><b>Powtórz hasło</b></label>
                <InputText type="password" id="pw2" @bind-Value="userRegistration.ConfirmPassword" class="form-control"
                    required placeholder="Hasło..." />
            </div>

            <button class="btn btn-primary" type="submit">Załóż konto</button>
            <a class="btn btn-danger" type="button" href="/">Anuluj</a>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public int Error { get; set; }
    public UserRegistration userRegistration { get; set; } = new UserRegistration();

    public async void Submit()
    {
        UserStore userStore = new UserStore();
        if (await userStore.CheckUserExistsAsync(userRegistration.Username))
            NavManager.NavigateTo("/register/1");
        else
        {
            if (await userStore.RegisterUserAsync(userRegistration) == ActionResult.Success)
                NavManager.NavigateTo("/register/success");
            NavManager.NavigateTo("/error");
        }
    }
}
