@page "/register/success"

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Rejestracja zakończona!</h4>
  <p>Twoje konto zostało założone i jest gotowe do rozpoczęcia pracy w systemie Ligth Scada!.</p>
  <hr>
  <p class="mb-0">Kliknij <a href="/login">tutaj</a> aby przejśc do panelu logowania.</p>
</div>