<div class="round-border flex-center">
    <div class="center-text">
        <h4>@View.Title</h4>
        <RadzenRadialGauge Style="width: 100%; height: 300px;">
            <RadzenRadialGaugeScale StartAngle="-150" EndAngle="150" Step=1000 Min=0 Max=10000
                TickPosition=GaugeTickPosition.Inside>
                <RadzenRadialGaugeScalePointer Value=@View.Value Length="0.6" ShowValue="false" />
            </RadzenRadialGaugeScale>
        </RadzenRadialGauge>
        <br/>
        <b>Value: @View.Value</b>
    </div>
</div>


@code {
    [Parameter]
    public ViewElement View { get; set; }

    public int MinimumValue = 0;
    public int MaximumValue = 10;
    public int Step = 5;

    protected override void OnParametersSet()
    {
        if (View.Value > MaximumValue){
            MaximumValue = View.Value;
            Step = MaximumValue / 10;
        }
    }
}