<div class="round-border flex-center">
    <div class="center-text">
        <RadzenChart @ref="m_chart">
            <RadzenLineSeries Data=@m_chartData ValueProperty="Value" CategoryProperty="Date" Title="Value">
                <RadzenMarkers MarkerType="MarkerType.Circle" />
            </RadzenLineSeries>
            <RadzenCategoryAxis Padding="20" FormatString="{0:HH:mm:ss}" />
            <RadzenValueAxis>
                <RadzenGridLines Visible="true" />
            </RadzenValueAxis>
        </RadzenChart>
    </div>
</div>

@code {
    private const int MaximumPoints = 50;

    [Parameter]
    public ViewElement View { get; set; }

    public List<ChartItem> m_chartData { get; set; } = new List<ChartItem>();

    private RadzenChart m_chart { get; set; }

    protected override void OnParametersSet()
    {
        if (View.InitialData != null && m_chartData.Count < MaximumPoints)
        {
            foreach (RegisterFrame frame in View.InitialData)
                m_chartData.Add(new ChartItem(frame.Value, frame.Timestamp.ToLocalTime()));
        }

        m_chartData.Add(new ChartItem(View.Value, DateTime.Now));

        if (m_chartData.Count > MaximumPoints)
            m_chartData.RemoveRange(0, m_chartData.Count - MaximumPoints);

        m_chartData = m_chartData.ToList();
        m_chart?.Reload();
        StateHasChanged();
    }
}