<div class="round-border flex-center">
    <div class="center-text">
        <div>
            @($"{View.RegisterType} {View.RegisterAddress}")
        </div>
        <br />
        @if (View.Value == 0)
        {
            <img src="/images/red_ico.png" style="width:100px" />
        }
        else
        {
            <img src="/images/green_ico.png" style="width:100px" />
        }
        <br />
        <br />
        <b>Value: @View.Value</b>
    </div>
</div>


@code {
    [Parameter]
    public ViewElement View { get; set; }
}