@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar overflow-auto">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <a class="nav-link" href="/Apps/LightScadaClient.zip">
                <span class="oi oi-data-transfer-download" aria-hidden="true"/> Download
            </a>
            <LoginDisplay />
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
